.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Futura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.tag::after {
  content: "";
  background-color: #f2ea3e;
  height: 5px;
  width: auto;
  display: block; /* Ensure the pseudo-element is displayed as a block */
}
.container {
  position: relative;
  width: 200px;
  height: 200px;
}
.first-image, .second-image {
  width: 70%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.5;
  /* filter: blur(5px); */
}
.second-image {
  position: absolute;
  top: 180%;
  left: 120%;
  transform: translate(-100%, -100%);
  border: 1px solid red; /* Optional border for visualization */

}

.third-image, .fourth-image {
  
  width: 70%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.5;
  /* filter: blur(5px); */
}
.third-image{
  position: absolute;
  top: -30%;
  left: -10%;
}
.fourth-image {
  position: absolute;
  top: 150%;
  left: 110%;
  transform: translate(-100%, -100%);
  border: 1px solid red; /* Optional border for visualization */

}
.text{
  position: absolute;
  top: 230%;
  left: 50%;
  
}