@font-face {
    font-family: 'Futura';
    
    
        src: url('.././public/Futura\ PT\ Book.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Futura', sans-serif;
  }